[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiffCorr"]
	path = DiffCorr
	url = https://github.com/afukushima/diffcorr
[submodule "TFactSR"]
	path = TFactSR
	url = https://github.com/afukushima/tfactsr
